#logo{
	height: 80px;
	width: 80px;
}



#search{
	width: 250px;
	
	border-radius: 10px;
	font-size: 23px;
	font-family: Helvetica;
}


body{
	width: 560px;
}

html{
	height: 630px;
}


#tool{
	font-family: Helvetica;
	font-size: 20px;
}

#searchButton{
	margin-bottom: 10px;
}