#logo{
	height: 100px;
	width: 100px;
}



#search{
	width: 250px;
	
	border-radius: 10px;
	font-size: 23px;
	font-family: Helvetica;
}


body{
	width: 560px;
}


#tool{
	font-family: Helvetica;
	font-size: 20px;
}